/*
 * Project: Zlecenia.io_client_PC.
 * Author: Levan Ostrowski
 * User: cod3venom
 * Date: 03.07.2021
 * Time: 10:15
 * Github: https://github.com/cod3venom
*/

html, body,.main__window{
    border-radius: 10px !important;
}
.topbar{
    position: fixed;
    left: 0; top: 0; right: 0;
    width: 100%;
    height: 30px;
    background: #61BCF9;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.16), 0 4px 6px rgba(0,0,0,0.45);
    cursor: pointer;
}
.topbar__container{
    width: 100%;
    height: 100%;
}
.topbar__body{
    width: 100%;
    height: 100%;
    position: relative;
}
.topbar__window__buttons{
    width: auto;
    white-space: nowrap;
    margin-left: .5em;
    position: fixed;
    left: .5em;
    z-index: 999;
}

.topbar__window__buttons > button{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border:none;
    outline: none;
    color: #FFF;
    cursor: pointer !important;
    z-index: 99999;
    transition: 500ms;
    background-color: transparent;
}
.topbar__window__buttons > button:hover{
    transition: 500ms;
    transform: scale(1.05);
    box-shadow: inset 0 0 0 3000px rgba(255,255,255,0.3);
    filter: blur(7px);
    cursor: pointer !important;
}
#window__close__btn{
    background: #FF5F57;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#window__maximize__btn{
    background: #FEBC2E;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#window__minimize__btn{
    background: #28C840;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.topbar__window__draggable__position{
    width: 90%;
    height: 100%;
    text-align: center;
    -webkit-app-region: drag;
}
.topbar__window__draggable__position > span{
    font-family: Roboto, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    color: #18A0FB;
    mix-blend-mode: normal;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(4px);
    text-align: center;
    vertical-align: middle;
    padding-right: 2rem;
}
.web__view{
    position: fixed;
    left: 0;
    top: 30px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.web__view > iframe{
    width: 100%;
    height: 100%;
    border:none;
    outline:none;
    position: fixed;
    left: 0; top: 30px; right: 0; bottom: 0;
}